.smallIcon{
    color: red;
    font-size: 18px;
}

.pdfCard{
   display: flex;
   flex-direction: row;
}

.pdfLogoCard{
    padding: 5px;
    
}

.details{
   margin-top: 0px;
    padding: 10px;
    padding-top: 0px;
}

.uploadDetails{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-style: italic;
    font-weight: 400;
}

.card{
    border-width: 1px;
    border-color: rgb(212, 203, 203);
    border-style: solid;
}

.pdfLogo{
    width: 30%;
}